* {

    padding: 0px;
    
    margin: 0px;
    
    box-sizing: border-box;
}

a {
    color: #485AF0;
}

body {
    background-color: #E6B600;
}

p {
    color: #45E6C8;
}

em {
    color: rgb(143,38,31);
}

b {
    background-color: rgb(199, 58, 222);
}

u {
    background-color: orange;
}